einops
einops-exts
transformers==4.33.1
huggingface_hub==0.16.4
pillow
more-itertools
datasets
braceexpand
webdataset
wandb
nltk
scipy
inflection
sentencepiece==0.1.98
pycocoevalcap
pycocotools
accelerate
opencv-python
matplotlib
onnxruntime
onnx
lvis
timm
git+https://github.com/facebookresearch/segment-anything.git
git+https://github.com/cocodataset/panopticapi.git